<p> Welcome, <%= current_user.username %>

<h2> Creations Library </h2>

<ul>
  <% @creations.each do |creature| %>
    <li><a href="/creations/<%= creature.id %>"><%= creature.name %></a></li>
  <% end %><br>
</ul>

<form method="GET" action="/creations/new">
  <input type="submit" value="Create New Creature">
</form>