<p> Welcome, <%= current_user.username %>

<h2> Your Creations </h2>

<% @creations.each do |creature| %>
  <div>
    <%= creature.name %>
  </div><br>
<% end %>

<form method="GET" action="/creations/new">
    <input type="submit" value="Create New Creature">
</form>