<h2> Create a new Creature </h2>

<form action="/creations" method="POST">

  <p>Name: <input id="name" type="text" name="name" ></p>
  <p>Height: <input id="height" type="text" name="height" ></p>
  <p>Weight: <input id="weight" type="text" name="weight" ></p>
  <p>Temperament: <input id="temperament" type="text" name="temperament" ></p>

  <p>Species: <input id="species" type="text" name="species" ></p>

  <p>Description: <textarea></textarea></p>

  <input type="submit" value="Create"><br>

  <br><a href="/creations">Back to all Creations</a><br>
</form>