<div class='app'>
  <h1> Create a new Creature </h1>

  <form action="/creations" method="POST">

    <p>Name: <input id="name" type="text" name="name" ></p>
    <p>Height: <input id="height" type="text" name="height" ></p>
    <p>Weight: <input id="weight" type="text" name="weight" ></p>
    <p>Temperament: <input id="temperament" type="text" name="temperament" ></p>
    <p>Species: <input id="species" type="text" name="species" ></p>
    <p>Description: <textarea name="description"></textarea></p>

    <button type="submit" class="btn btn-secondary">Create New Beast</button><br>

  </form>
</div>