<h1> Welcome, <%= current_user.username %> </h1><br>

<h2> Public Bestiary </h2>

<ul>
  <% @creations.each do |creature| %>
    <li><a href="/creations/<%= creature.id %>"><%= creature.name %></a></li>
  <% end %><br>
</ul>

<form method="GET" action="/creations/new">
  <button type="submit" class="btn btn-secondary">Create New Beast</button>
</form>