<p> Welcome, <%= current_user.username %>

<h2> Your Creations </h2>

<% @creations.each do |creature| %>
  <ul>
    <li><%= creature.name %></li>
  </ul><br>
<% end %>

<form method="GET" action="/creations/new">
  <input type="submit" value="Create New Creature">
</form>