  
<h2> Edit your Creature </h2>

<form action="/creations/<%=@creations.id%>" method="POST">
    <input id='hidden' type='hidden' name='_method' value='PATCH'

    <p>Name: <input id="name" type="text" name="name" ></p>
    <p>Height: <input id="height" type="text" name="height" ></p>
    <p>Weight: <input id="weight" type="text" name="weight" ></p>
    <p>Temperament: <input id="temperament" type="text" name="temperament" ></p>

    <p>Species: <input id="species" type="text" name="species" ></p>

    <p>Description: <textarea></textarea></p>

    <input type="submit" value="Submit Changes">
</form>