<h2> Edit your Creature </h2>

<form action="/creations/<%=@creations.id%>" method="POST">
    <input id='hidden' type='hidden' name='_method' value='PATCH'
    <p>Name: <input type="text" name="name" value="@creations.name"></p>
    <p>Height: <input type="text" name="height" value="@creations.height">ft</p>
    <p>Weight: <input type="text" name="weight" value="@creations.weight">lbs</p>
    <p>Sex: <input type="text" name="sex" value="@creations.sex"></p>
    <p>Temperament: <input type="text" name="temperament" value="@creations.temperament"></p>
    <p>Species: <input type="text" name="species" value="@creations.species"></p>

    <p>Description: <textarea name="description" value="@creations.description"></textarea></p>

    <input type="submit" value="Submit Changes">
</form>