<h3> Login Below: <h3>

<form method='post' action='/login'>

    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">

    <button type="submit" class="btn btn-secondary">Log In</button>

</form><br>