<h3> Sign Up Below: <h3>

<form method='post' action='/signup'>

    <p>Username: <input type="text" name="username"</p>
    <p>Email: <input type="text" name="email"</p>
    <p>Password: <input type="text" name="password"</p><br>

    <input type="submit" value="Sign Up">
    
</form><br>

<a href="/">Back to Homepage</a>