<div class='app'>
    <h1>About</h1>

    <% if logged_in? %>

        <p>This is where I will put info about my web app.</p>

    <% else %>

        <p> Please log in to view this page. </p>
        
    <% end %>
</div>