<h1>Welcome to Creature Creator!</h1>


<% if logged_in? %>

    <%= redirect to '/creations' %>

<% else %>

    This is my Home page where I will talk about how awesome my app is!!!
        
<% end %>
