<h2>Welcome to Creature Creator!</h2>

<nav>
    <% if logged_in? %>

        <a href="/creations/new">Create New Creature</a>
        <a href="/logout">Log Out</a>
        <p>Welcome, <%=current_user.username %></p>
    <% else %>
        <p>Sign Up below:</p>
        <form method="GET" action="/signup">
            <input type="submit" value="Sign Up">
        </form>
        
        <p>Login to Your Account:</p>
        <form method="GET" action="/login">
            <input type="submit" value="Login">
        </form>
    <% end %>
</nav>