<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: black;
        background-image: url(https://i.pinimg.com/originals/9c/aa/ff/9caaffa4699b7b33964f8fd7999f014d.jpg);
        background-repeat: no-repeat;
        position: center;
        background-size: cover;
        flex: auto;
        padding: 50px;
      }
      img {
        width: 70px;
        height: auto;
        position: absolute;
        left: 50px
      }
      img:hover {
        transition: 1s ease-in-out;
        filter: invert(100%);
      }
      button {
        background-color: rgba(150,0,0);
        border: solid black;
        border-radius: 10px;
        width: 150px;
        height: 80px;

        font-size: 20px;
        text-shadow: 2px 2px 5px black;
        font-family: 'Permanent Marker', cursive;
        color: white;
      }
      button:hover {
        transition: .5s ease-in-out;
        background-color: black;
      }
      h1 {
        color: white;
        text-shadow: 2px 2px 5px red;
        font-family: 'Roboto Mono', monospace;
      }
      h2 {
        color: white;
        text-shadow: 2px 2px 5px red;
        font-family: 'Roboto Mono', monospace;
      }
      h3 {
        color: white;
        text-shadow: 2px 2px 5px red;
        font-family: 'Roboto Mono', monospace;
      }
      h4 {
        color: white;
        text-shadow: 2px 2px 5px red;
        font-family: 'Roboto Mono', monospace;
      }
      p {
        color: white;
        text-shadow: 2px 2px 5px red;
        font-family: 'Roboto Mono', monospace;
        }
      a {
        font-size: 20px;
        text-shadow: 2px 2px 5px black;
        font-family: 'Permanent Marker', cursive;
        color: white;
      }
      .NavBar {
        margin: auto;
        width: 50%;
      }
      .app {
        margin: auto;
        width: 50%;
      }
      .logoutButton {
        position: absolute;
        margin-left: 1000px;
        margin-top: 20px;
      }

    </style>
    <title>Creature Creator</title>
  </head>

  <body>
    <a href="/"><img src='https://icon-library.com/images/dnd-icon/dnd-icon-0.jpg' /></a>
    <nav class="NavBar">
      <div>
        <% if !logged_in? %>
          <span>
            <button><a href="/login">Log In</a></button>
            <button><a href="/signup">Sign Up</a></button>
          </span>
        <% end %>

        <% if logged_in? %>
          <span>
            <form class='logoutButton' method='POST' action='/logout'>
              <button type="submit">Log Out</button>
            </form><br>
            <button><a href="/about">About</a></button>
            <button><a  href="/my-creations">My Creatures</a></button>
          </span>
        <% end %>
        
      </div>
    </nav>

    <div>
      <%# This is where my app goes. %>
      <%= yield %>
    </div>

  </body>
</html>